fastapi
uvicorn
python-dotenv
supabase
psycopg2-binary
pydantic
numpy<2
SQLAlchemy
requests
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-ollama
chromadb
openai
tiktoken
sentence-transformers
tf-keras
pyjwt
passlib==1.7.4
bcrypt==4.0.1
wandb
